/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--green-1000);
  color: var(--green-50);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

/* Formatar id com "#" */
#root {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

/* Header: para formatar classes, colocar "." na frente */
.header {
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

/* hover indica q é quando tem q fazer e o __link indica q é um comportamento dentro de um classe específica */
.header__link:hover {
  text-decoration: underline;
}
/* Flex:1 expande o elemento o máximo */
.main {
  margin: 0 10px 10px;
  padding: 20px;
  border-radius: var(--border-radius-l);
  flex: 1;
  background-image: linear-gradient(
    to bottom,
    var(--green-900),
    var(--green-1000)
  );
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

.main__link:hover {
  text-decoration: underline;
}
